* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    height: 100%;
}

.container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container-fluid a {
    text-decoration: none;
}

.row {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.mar1 {
    margin: 1em;
}

.m0 {
    margin: 0;
    padding: 0;
}

.foot {
position: absolute;
bottom: 0;
right: 0;
}

.heid1 {
    height: 100%;
    width: 100%;
}


/*.bor {
        border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: black;
    border-style: solid;
}
    */